#loginButton { 
    margin-right: 10px!important;
}

#login-link, #regButton {
    margin-right: 10px;
    margin-top: 5px;
}

#logoutButton {
    float: right;
    margin-top: 5px;
}

#user-name {
    
    padding-top : 15px;
    float:left;
}