#login-link, #logout-link, #reg-link {
    margin-right: 10px;
    margin-top: 5px;
    float:right;
}

#user-name {
    padding-top : 20px;
    float:left;
}


#serv-dropdown {
    background-color: transparent!important;
}

@media only screen and (min-width: 1000px) {
    #brand-text {
        font-size : 2em;
    }
  }


  @media only screen and (max-width: 1000px) {
    #brand-text {
        font-size : 1.5em;
    }
  }
