#main {
    margin-top: 1px;
    margin-bottom: 0px;
    height: 400px;
    /* background-image: url("../images/Same_Day_Delivery.jpg"); */

    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.0),
        rgba(255, 255, 255, 0.0)
      ),
      url("./Same_Day_Delivery.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 60vh;
    position: relative;
  }
  #col-4 {
    margin-top: 40px;
    height: 40px;
  }


  .container, .jumbotron {
    background-color: transparent!important;
  }